
body{ padding: 2em; font-family: monospace; }
img{width:400px;
  height: auto;
  min-width: 90%;}
h3{padding-top: 1em; padding-bottom: 1em;}
p{font-family: sans-serif;  color:#333;}
hr{margin-top: 2em;}
.peque{ font-size: .8em;}
#playing{ font-weight: bold; margin-right: 1em;}

i{padding-right: .5em;}

#pie{ background-color: white; height: 10%}
#temas{ margin-bottom: 6em; background-color: white;
        height: 90%;
        overflow-y: scroll;
        padding-left: 2em;
        margin-bottom: 200px;
}

.folder:hover{
  cursor: pointer;
}

.picado{ font-weight: bold; }
.spin{ display: none;}
.picado .spin{display: inline;}
.picado .fa-folder{ display: none;}

#loading{
  position: absolute;
  top:0;
  background-color: rgba(100,0,0,.5);
  color: white;
  padding: 5em;
  z-index: 999;
  width: 70%;
  margin-left: 15%;

  margin: auto;
}
