<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <title>miMusica</title>

    <script>
      var HTMLPATH="/Applications/MAMP/htdocs/"
    </script>
    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>


    <!-- locales -->

    <script src="##IP/musica/player/howler.min.js"></script>
    <link type="text/css" rel="stylesheet" href="##IP/musica/player/guapo.css"/>

  </head>

  <body>


    <div id="app">

      <b-container>


        <b-row>

            <b-col   id="temas" cols='12' md='5' lg="4"  class="fixed-top">

                  <!-- foto ================================================ -->
                  <center>
                       <b-img  fluid src="##FOTO" />
                  </center>
                  <center><h3>{{ titulo }}</h3></center>


                  <!-- carpetas ============================================ -->
                    <div v-for="(item, index) in carpetas"
                         v-on:click="gotoFolder(item)">
                         <p class="folder" >
                            <i class=" spin fa fa-spinner fa-spin" style="font-size:24px"></i>
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            <span>{{ item }}</span></p>
                    </div>



                   <!-- temas - - - - - - - - - - - - - - - - - - - - - - - - -->
                    <div v-for="(item, index) in items">
                         <p>
                            <span id="playing" v-show="item.playing">
                                 <i v-show="playing" @click="pausar" class="fa fa-music" aria-hidden="true"></i>
                                 <i v-show="!playing" @click="reanudar" class="fa fa-play" aria-hidden="true"></i>
                            </span>

                            <span class="audio" v-on:click="sonar(item, index)">{{ item.audio }}</span></p>
                    </div>
              </b-col>
            </b-row>

            <!-- Pie =========================================================== -->
            <b-row>

                <b-col  id="pie" cols='12' md='5' lg="4" class="fixed-bottom">

                  <!-- slider  -->
                  <div id= 'slider' v-on:mouseup="change" v-on:mousedown="pausar">
                  <vue-slider
                       ref="slider"
                       v-show="items"
                       v-model="value"
                       v-bind="options"
                   ></vue-slider>
                   <!-- miguitas  -->
                   </div>
                    <b-breadcrumb class ="peque" :items="breadCrumb"/>
                </b-col>
            </b-row>


      </b-container>
    </div>










    <!-- =========================================================== -->
    <!--            VUE app                                           -->
    <!-- =========================================================== -->

    <script src="https://nightcatsama.github.io/vue-slider-component/dist/index.js"></script> <!-- slider -->
    <script>
    var app = new Vue({
          el: '#app',
          data: {

            now: 0,
            carpetas: ##CARPETAS,
            items: ##TEMAS ,
            titulo: '##TITULO',
            sound: '',
            path:'##PATH',
            breadCrumb: ##BREAD,
            playing: false,
            value: 0,
            options: {
              eventType: 'auto',
              width: 'auto',
              height: 3,
              dotSize: 3,
              dotHeight: null,
              dotWidth: null,
              min: 0,
              max: 100,
              interval: 1,
              show: true,
              speed: 0.5,
              disabled: false,
              piecewise: false,
              piecewiseStyle: false,
              piecewiseLabel: false,
              tooltip: true,
              tooltipDir: 'top',
              reverse: false,
              data: null,
              clickable: true,
              realTime: true,
              lazy: false,
              formatter: null,
              bgStyle: null,
              sliderStyle: null,
              processStyle: null,
              piecewiseActiveStyle: null,
              piecewiseStyle: null,
              tooltipStyle: null,
              labelStyle: null,
              labelActiveStyle: null
            }

          },
          components: {
            'vueSlider': window[ 'vue-slider-component' ],
          },
          methods:{

            sonar: function(tema, i){
                 this.now= i;
                 console.log("now:"+i);
                 this.borrar();
                 tema.playing = true;
                 this.playing = true;
                 this.sound.stop();
                 this.sound = new Howl({
                      src: [ "http://"+location.host+"/"+this.path+tema.audio],
                      html5: true
                  });
                  const vm = this;
                  this.sound.on('end', function(){
                    console.log('Finished!');
                    vm.siguiente();
                });
                 this.sound.play()
              },

              siguiente: function(){
                  $(".picado").removeClass("picado");
                  console.log("siguiente");
                  this.borrar();
                  this.now +=1;
                  this.play();
              },
              pausar: function(){
                console.log("pausar");
                this.playing = false;
                this.sound.pause();
              },
              reanudar: function(){
                this.playing = true;
                this.sound.play();
              },

              play: function(){

                    this.playing = true;
                    current = "http://"+location.host+"/"+this.path+this.items[ this.now ].audio;
                    this.items[ this.now ].playing = true;

                    console.log(current);
                    this.sound = new Howl({
                         src: current,
                         html5: true
                     });
                      const vm = this;
                      this.sound.on('end', function(){
                          console.log('Finished!');
                          vm.siguiente();
                    });
                     console.log("PLAY");
                     this.sound.play();
              },
              borrar: function(){
                this.items.forEach(function(tema) {
                      console.log(tema);
                      tema.playing = false;
                  });
             },

             change: function(){


                const vm = this;
                current = "http://"+location.host+"/"+this.path+this.items[ this.now ].audio;
                setTimeout(function() {
                  //your code to be executed after 1 second
                  console.log("val ", vm.value);
                  var dur = vm.sound.duration(current);
                  console.log("duracion ", dur);
                  var pos = dur*(vm.value/100.)
                  vm.sound.seek(pos);
                  console.log("pos: ", pos);
                  vm.playing = true;
                  vm.sound.play();
                }, 100);


             },
             volver: function(cacho){

                  var link = "http://"+location.host+"/"+this.path.substring(0,this.path.indexOf(cacho))+cacho;
                  window.location.assign(link);
             },
             gotoFolder: function(folder){

                   var link = "http://"+location.host+"/"+this.path+"/"+folder;
                   console.log(link);
                   window.location.assign(link);
             },
             ini: function(){

                  //marcar el click
                  $(".folder").click( function(){
                        $(".picado").removeClass("picado");
                        $(this).addClass("picado");
                  });

                  $(".audio").click( function(){
                        $(".picado").removeClass("picado");
                        $(this).addClass("picado");
                  });

                  const vm = this;
                  vm.play();
                  var myVar = setInterval(myTimer, 1000);

                  function myTimer() {

                      var c = vm.sound.seek()*100/vm.sound.duration();
                      vm.value = c;
                  }
              }
            }

          });
          app.ini();
    </script>

  </body>
</html>
