<html>
  <head>
        <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="/musica/player/howler.min.js"></script>

      <meta charset="UTF-8">
      <style>
          html{ background-color: #ddd;}
          body{ padding: 5em; font-family: monospace; max-width: 500px;}
          img{width:350px; height: auto;}
          h3{padding-top: 1em; padding-bottom: 1em;}
          p{font-family: sans-serif; font-size: .9em; color:#333;}
          hr{margin-top: 2em;}
          #playing{ font-weight: bold; margin-right: 1em;}
          #logo, #path{margin-bottom: 2em; color:gray;}
          #logo{ font-weight: normal; background-color: #ccc; border-radius: 5px; color: white;
            padding: .5em; padding-left: 1em; }
          i{padding-right: .5em;}
          #path{font-size: .7em; font-family: monospace;}
          #myRange{display: inline-block; width: 90%;}
          #botones{width: 5%; font-size: .8em; display: inline; color: #ccc;}
          .slidecontainer {
              margin-top: 2em;
              margin-bottom: 2em;
              width: 100%; /* Width of the outside container */}

          /* The slider itself */
          .slider {
              -webkit-appearance: none;  /* Override default CSS styles */
              appearance: none;
              width: 100%; /* Full-width */
              height: 1px; /* Specified height */
              background: white;
              outline: none; /* Remove outline */
              opacity: 0.5; /* Fully shown on mouse-over *
              -webkit-transition: .2s; /* 0.2 seconds transition on hover */
              transition: opacity .2s;
          }

          /* Mouse-over effects */
          .slider:hover {
              opacity: 1; /* Fully shown on mouse-over */
          }

          /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
          .slider::-webkit-slider-thumb {
              -webkit-appearance: none; /* Override default look */
              appearance: none;
              width: 3px; /* Set a specific slider handle width */
              height: 10px; /* Slider handle height */
              background: #ccc;
              cursor: pointer; /* Cursor on hover */
          }

          .slider::-moz-range-thumb {
            width: 3px; /* Set a specific slider handle width */
            height: 10px; /* Slider handle height */
            background: #ccc;
              cursor: pointer; /* Cursor on hover */
          }
      </style>
  </head>
  <body>
    <p id="logo"><i class="fa fa-music" aria-hidden="true"></i> No_Coñazo_Player</p>
    <div id="container">

      <center>
            <img src="##FOTO" />

      <h3>{{ titulo }}</h3>
      </center>


      <!-- CARPETAS ------------------------------------------------------------------------------------------------   -->

          <div v-for="(item, index) in carpetas"
               v-on:click="gotoFolder(item)">
              <p> <i class="fa fa-folder" aria-hidden="true"></i> <span>{{ item }}</span></p>
          </div>

      <!-- TEMAS  ------------------------------------------------------------------------------------------------   -->

          <div v-for="(item, index) in items"
               v-on:click="sonar(item, index)">
               <p><span id="playing" v-show="item.playing"> <i class="fa fa-music" aria-hidden="true"></i> </span><span>{{ item.audio }}</span></p>
          </div>
          <div class="slidecontainer">
            <div id="botones">
              <i class="fa fa-pause" v-show="playing" aria-hidden="true" v-on:click="pausar"></i>
              <i class="fa fa-play" v-show="!playing" aria-hidden="true" v-on:click="reanudar"></i>
            </div>

            <input onchange="app.change()" type="range" min="0" max="100" value="0" class="slider" id="myRange">
          </div>

          <div id="path">
             <span v-for="cacho in breadCrumb"
                  v-on:click="volver(cacho)"
             >{{cacho}} - </span>
          </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
    			  src="https://code.jquery.com/jquery-3.3.1.min.js"
    			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    			  crossorigin="anonymous"></script>

    <script>

    var app = new Vue({
          el: '#container',
          data: {

            now: 0,
            carpetas: ##CARPETAS,
            items: ##TEMAS ,
            titulo: '##TITULO',
            sound: '',
            path:'##PATH',
            breadCrumb: [],
            playing: false
          },
          methods:{

            sonar: function(tema, i){
                 this.now= i;
                 console.log("now:"+i);
                 this.borrar();
                 tema.playing = true;
                 this.playing = true;
                 this.sound.stop();
                 this.sound = new Howl({
                      src: [ "http://"+location.host+"/"+this.path+tema.audio],
                      html5: true
                  });
                  const vm = this;
                  this.sound.on('end', function(){
                    console.log('Finished!');
                    vm.siguiente();
                });
                 this.sound.play()
              },
              siguiente: function(){

                  console.log("siguiente");
                  this.borrar();
                  this.now +=1;
                  this.play();
              },
              pausar: function(){
                this.playing = false;
                this.sound.pause();
              },
              reanudar: function(){
                this.playing = true;
                this.sound.play();
              },

              play: function(){

                this.playing = true;
                current = "http://"+location.host+"/"+this.path+this.items[ this.now ].audio;
                this.items[ this.now ].playing = true;
                $("#myRange").val(0);
                console.log(current);
                this.sound = new Howl({
                     src: current,
                     html5: true
                 });
                  const vm = this;
                  this.sound.on('end', function(){
                    console.log('Finished!');
                    vm.siguiente();
                });
                 console.log("PLAY");
                 this.sound.play();
              },
              borrar: function(){
                this.items.forEach(function(tema) {
                      console.log(tema);
                      tema.playing = false;
                  });
             },
             change: function(){
                current = "http://"+location.host+"/"+this.path+this.items[ this.now ].audio;

                var val = $("#myRange").val();
                var dur = this.sound.duration(current);
                this.sound.seek(dur*(val/100.));

             },
             volver: function(cacho){

                  var link = "http://"+location.host+"/"+this.path.substring(0,this.path.indexOf(cacho))+cacho;

                  window.location.assign(link);
             },
             gotoFolder: function(folder){
                   var link = "http://"+location.host+"/"+this.path+"/"+folder;
                   console.log(link);
                   window.location.assign(link);

             },
              ini: function(){
                  const vm = this;
                  this.breadCrumb = this.path.split("/");
                  this.play();

                  var myVar = setInterval(myTimer, 5000);

                  function myTimer() {

                      var c = vm.sound.seek()*100/vm.sound.duration();
                      $("#myRange").val(c);
                  }
              }
            }

          });
          app.ini();
    </script>

  </body>
</html>
